<html>
  <head>
    <meta charset="UTF-8">
    <title>PuppyAdoptionSite</title>
  </head>

 <body>
   <h1> Welcome to the puppy adoption site!</h1>
   <h2> Click the Link bellow to List A Puppy for Adoption</h2>
   <a href="/new">List A Puppy For Adoption! </a>
   <h2> Click the Link bellow to View The Puppies That Are Up for Adoption</h2>
   <a href="/puppies">Adopt A Puppy! </a>


</body>
</html>
